

@media (max-width: 1440px) {
    header nav {
        height: 70%;   
    }

    header nav .rect {
        max-height: 19%;
        height: 100%;
    }

    header nav .detbx {
        max-height: 19%;
        height: 100%;
        top: -18.9%;
        padding: 0.7em;
    }

    header nav .detbx .logo {
        height: 80%;
        width: 16%;
        left: 4.5%;
    }

    header nav .detbx .logo .getlo {
        width: 2.05rem;
        margin-right: 1em;
    }

    header nav .detbx .logo .miniget {
        font-size: 0.7rem;
    }

    header nav .detbx .basicnav {
        height: 80%;
    }
    header nav .detbx .basicnav li {
        font-size: 0.9rem;
    }

    header nav .detbx .signup {
        right: 1.5%;
        font-size: 0.8rem;
        height: 58%;
    }

    header nav .welnote {
        top: 13.5%;
        height: 40%;
    }

    header nav .welnote .headtxt {
        font-size: 1.1rem;
        line-height: 1.4em;
        letter-spacing: 1px;
    }

    header nav .welnote .getrust {
        font-size: 2.5rem;
    }

    section {
        height: 58rem;
    }

    section .split-col .left .text-container {
        width: 70%;
        left: 5%;
        top: 16%;
        height: 68%;
    }

    section .split-col .left .text-container .grant1{
        font-size: 1.7rem;
        line-height: 1.4em;
        font-weight: 700;
    }

    section .split-col .left .text-container .grant2{
        font-size: 1.1rem;
        top: 10%;
        line-height: 1.4em;
    }

    section .split-col .left .text-container .apply {
        height: 18.5%;
        width: 34%;
        font-size: 1.2em;
        border-radius: 17px;
        top: 20%;
    }

    section .reach .rcontainer {
        height: 60%;
        top: -80%;
    }

    section .reach .rcontainer .sheart{
        width: 5.7%;
    }

    section .reach .rcontainer .progress {
        font-size: 2.5rem;
    }

    section .reach .rcontainer .explan{
        margin-top: 1em;
    }

    section .reach .rcontainer .explan p{
        font-size: 1.2rem;
    }

    .body {
        height: 420rem;
    }

    .body .cslide {
        height: 29rem;
        top: 3.5%;
    }

    .body .cslide .cohort {
        font-size: 2.5rem;
    }

    .body .cslide .sample-slider .swiper-wrapper {
        height: 78%;
    }

    .body .cslide .sample-slider [class^="swiper-button-"]::after{
        font-size: 2rem;
    }

    .body .cslide .sample-slider [class^="swiper-button-"]{
        bottom: 0;
    }

    .body .square {
        top: 5.2%;
        height: 46rem;
    }

    .body .square .glog {
        width: 5.5rem;
    }

    .body .square .get {
        font-size: 1.5rem;
    }

    .body .square .loadbar {
        top: 73%;
        height: 0.3rem;
    }

    .body .square .loadbar .load {
        width: 93%;
    }

    .body .grant-img {
        top: 7%;
        height: 35rem;
    }

    .body .grant-img .ourg {
        font-size: 2.5rem;
        top: 3%
    }

    .body .grant-img .tri-slide {
        height: 53%;
        top: 15%;
        width: 98%;
    }

    .body .grant-img .tri-slide .med-grant {
        width: 31.5%;
        border-radius: 1em;
    }

    .body .grant-img .tri-slide .med-grant img{
        border-radius: 1em;
    }

    .body .grant-img .tri-slide .med-grant .afg {
        font-size: 0.7rem;
        border-radius: 5px;
        top: 4%;
        right: -65.5%;
        width: 31%;
        height: 10%;
    }

    .body .grant-img .tri-slide .med-grant .med {
        font-size: 1.2rem;
    }

    .body .grant-img .bbar {
        top: 30%;
        width: 74%;
    }

    .body .six-container {
        max-height: 51rem;
        height: 100%;
        top: 8.5%;
    }

    .body .six-container .who {
        font-size: 2.5rem;
    }

    .body .six-container .col-1 .box1:hover,
    .body .six-container .col-2 .box1:hover{
        transform: scale(1.010);
}

    .body .testimonial {
        height: 35rem;
        top: 12%;
    }

    .body .testimonial .textimony {
        font-size: 2.5rem;
    }

    .body .testimonial .sample-slider1 {
        height: 78%;
    }

    .body .testimonial .sample-slider1 .swiper-wrapper .swiper-slide {
        /* border-radius: 20px; */
        margin-left: 0.5em;
    }

    .body .testimonial .sample-slider1 .swiper-wrapper .swiper-slide .userfeed .colon {
        font-size: 7rem;
        margin: 0.4em;
    }

    .body .testimonial .sample-slider1 .swiper-wrapper .swiper-slide .userfeed p{
        font-size: 1.2rem;
        margin-bottom: 1em;
    }

    .body .testimonial .sample-slider1 [class^="swiper-button-"]::after{
        font-size: 2rem;
        font-weight: 100;
    }

    .body .testimonial .sample-slider1 [class^="swiper-button-"]{
        top: initial;
        bottom: 7%;
    }

    .body .testimonial .sample-slider1 .swiper-wrapper .swiper-slide .user {
        top: 3%;
    }
    
    .body .testimonial .sample-slider1 .swiper-wrapper .swiper-slide .user .userpic {
        width: 3.5rem;
        margin-left: 2.5em;
    }

    .body .testimonial .sample-slider1 .swiper-wrapper .swiper-slide .user .dash {
        margin-left: 2.8em;
        width: 10%;
        height: 0.2em;
    }

    .body .testimonial .sample-slider1 .swiper-wrapper .swiper-slide .user .username {
        font-size: 0.8rem;
        margin-left: 0.9em;
    }

    .body .gallery {
        height: 92rem;
        top: 14.3%;
    }

    .body .gallery .galltext {
        font-size: 2.5rem;
    }

    .body .gallery .gallimages {
        width: 81%;
        height: 85%;
        top: 7.2%;
    }

    .body .gallery .gallimages .top {
        margin-bottom: 2.3em;
        height: 48%;
    }

    .body .gallery .gallimages .top .rite {
        margin: 0 0 2.5em 2.3em;
    }

    .body .gallery .gallimages .top .rite .up {
        margin-bottom: 0.7em;
        height: 47%;
    }

    .body .gallery .gallimages .top .rite .up .imgb {
        margin-right: 2.3em;
    }

    .body .gallery .gallimages .top .rite .dwn {
        height: 47%;
    }

    .body .gallery .gallimages .top .rite .dwn .imge {
        margin-left: 2.3em;
    }

    .body .gallery .gallimages .mid {
        margin-bottom: 2.3em;
        height: 23%;
    }

    .body .gallery .gallimages .mid .imgg {
        margin-left: 2.1em;
    }

    .body .gallery .gallimages .bttom {
        height: 23%;
    }

    .body .gallery .gallimages .bttom .imhg {
        margin-right: 2.3em;
    }

    .body .gallery .gallimages .top img:hover,
    .body .gallery .gallimages .top .rite .up .imgb:hover,
    .body .gallery .gallimages .top .rite .up .imgc:hover,
    .body .gallery .gallimages .top .rite .dwn .imgd:hover,
    .body .gallery .gallimages .top .rite .dwn .imge:hover,
    .body .gallery .gallimages .mid .imgf:hover,
    .body .gallery .gallimages .mid .imgg:hover,
    .body .gallery .gallimages .bttom .imgh:hover,
    .body .gallery .gallimages .bttom .imgi:hover{
        transform: scale(1.010);
}

    .body .questions {
        height: 38rem;
        top: 15.6%;
    }

    .body .questions .faq {
        font-size: 2.5rem;
    }

    .body .questions .dropdwn1 .drop-btn1,
    .body .questions .dropdwn2 .drop-btn2,
    .body .questions .dropdwn3 .drop-btn3,
    .body .questions .dropdwn4 .drop-btn4 {
        border-radius: 1.8em;
        padding: 0 5em;
    }

    .body .questions .dropdwn1 .drop-btn1 .drop-text1,
    .body .questions .dropdwn2 .drop-btn2 .drop-text2, 
    .body .questions .dropdwn3 .drop-btn3 .drop-text3,
    .body .questions .dropdwn4 .drop-btn4 .drop-text4 {
        font-size: 1.1rem;
        font-weight: 300;
    }

    .body .questions .dropdwn1 .drop-btn1 i,
    .body .questions .dropdwn2 .drop-btn2 i,
    .body .questions .dropdwn3 .drop-btn3 i,
    .body .questions .dropdwn4 .drop-btn4 i {
        font-size: 2.5rem;
        font-weight: 100;
    }

    .body .questions .dropdwn1 .paragraph1,
    .body .questions .dropdwn2 .paragraph2,
    .body .questions .dropdwn3 .paragraph3,
    .body .questions .dropdwn4 .paragraph4 {
        font-size: 1.2rem;
        padding: 1.9em 1em 1em 3.9em;
    }

    .body .partners {
        height: 14rem;
        top: 18%;
        border-radius: 2.5em;
    }

    .body .partners .partext {
        height: 34%;
        border-radius: 8px;
        top: -16%;
    }

    .body .partners .ourpart {
        font-size: 1.7rem;
    }

    .body .partners .partner-icon img {
        width: 15%
    }

    .body .partners .partner-icon .gc {
        width: 27%;
    }

    .body .partners .partner-icon .kn {
        width: 22%;
    }

    .body .partners .partner-icon .k {
        width: 7%;
    }

    footer {
        top: -18%;
        height: 25rem;
    }

    footer .bottom {
        height: 85%;
        top: 11.2%;
    }

    footer .bottom .tophalf {
        height: 75%;
        top: 0;
    }

    footer .bottom .btmhalf {
        height: 10%;
    }

    footer .bottom .tophalf .contact .gel {
        width: 12rem;
        height: 4rem;
    }

    footer .bottom .tophalf .contact .gel img{
        margin-right: 0.2;
    }

    footer .bottom .tophalf .contact .gel .ge-t {
        font-size: 1.2rem;
        line-height: 1.1em;
        font-weight: 500;
        letter-spacing: 0;
    }

    footer .bottom .tophalf .contact .abt1,
    footer .bottom .tophalf .contact .abt2 {
        top: 49%;
    }
    
    footer .bottom .tophalf .contact .abt1 li {
        font-size: 1rem;
        line-height: 1em;
        margin: 0 2.7em 1.1em 0;
    }

    footer .bottom .tophalf .contact .abt2 li {
        font-size: 1rem;
        line-height: 1em;
        margin: 0 4.5em 0.5em 0;
    }

    footer .bottom .tophalf .contactus {
        width: 25%;
        left: 5%;
    }

    footer .bottom .tophalf .contactus .cntus {
        font-size: 1.1rem;
    }

    footer .bottom .tophalf .contactus .addr {
        font-size: 0.9rem;
    }

    footer .bottom .thin-bar {
        top: 3%;
    }

    footer .bottom .btmhalf {
        top: 8%;
    }

    footer .bottom .btmhalf .copyrt .c {
        font-size: 1rem;
        width: 1.8rem;
        height: 1.8rem;
    }

    footer .bottom .btmhalf .copyrt .cget {
        font-size: 1.1rem;
        font-weight: 200;
        letter-spacing: 0.10em;
    }

    footer .bottom .btmhalf .social {
        width: 16%;
        left: 51.6%;
    }

    footer .bottom .btmhalf .social li {
        margin-left: 1em;
    }

    footer .bottom .btmhalf .social li a{
        font-size: 2em;
    }

}


@media (max-width: 1920px) {

    header nav {
        height: 70%;   
    }

    header nav .rect {
        max-height: 18.2%;
        height: 100%;
    }

    header nav .detbx {
        max-height: 18.2%;
        height: 100%;
        top: -18.5%;
    }

    header nav .detbx .logo {
        left: 2%;
    }

    header nav .detbx .basicnav {
        width: 60%;
        right: 4.5%;
    }

    header nav .detbx .basicnav li {
        font-size: 1.4rem;
    }

    header nav .detbx .signup {
        height: 54%;
        right: 1.5%;
        font-size: 1.1rem;
    }

    header nav .welnote {
        top: 15%;
    }

    header nav .welnote .headtxt {
        font-size: 1.4rem;
        line-height: 1.5em;
        letter-spacing: 2px;
    }

    header nav .welnote .getrust {
        font-size: 3.3rem;
    }

    section {
        height: 75rem;
    }

    section .split-col .left .text-container {
        height: 65%;
        top: 18%;
        left: 3%;
    }

    section .split-col .left .text-container .grant1{
        font-size: 2.1rem;
    }

    section .split-col .left .text-container .grant2{
        font-size: 1.4rem;
        top: 8%;
    }

    section .split-col .left .text-container .apply {
        width: 35%;
        font-size: 1.4rem;
        border-radius: 1em;
        height: 18%;
    }

    section .reach .rcontainer .progress {
        font-size: 3.3rem;
    }

    section .reach .rcontainer .explan {
        margin-top: 0.8em;
    }

    section .reach .rcontainer .explan p{
        font-size: 1.4rem;
    }

    section .reach .rcontainer {
        top: -80%;
    }

    .body {
        height: 555rem;
    }

    .body .cslide {
        height: 31rem;
        top: 3%;
    }

    .body .cslide .cohort {
        font-size: 3.3rem;
    }
    
    .body .cslide .sample-slider [class^="swiper-button-"]::after{
        font-size: 2.5rem;
    }

    .body .square {
        top: 5%;
        height: 64rem;
    }

    .body .square .glog {
        width: 7.8%;
    }

    .body .square .get {
        font-size: 2rem;
    }

    .body .grant-img {
        top: 7%;
        height: 48rem;
    }

    .body .grant-img .ourg {
        font-size: 3.3rem;
        top: 0%
    }

    .body .grant-img .tri-slide {
        height: 50%;
        top: 13%;
    }

    .body .grant-img .bbar {
        top: 28%;
    }

    .body .grant-img .tri-slide .med-grant .afg {
        font-size: 1rem;
    }

    .body .grant-img .tri-slide .med-grant .med {
        font-size: 1.7rem;
        bottom: 37%;
    }

    .body .six-container {
        max-height: 68rem;
        height: 100%;
        top: 8%;    
    }

    .body .six-container .who {
        font-size: 3.3rem;
    }

    .body .testimonial {
        height: 48rem;
        top: 11.1%;
    }

    .body .testimonial .textimony {
        font-size: 3.3rem;
    }

    .body .testimonial .sample-slider1 .swiper-wrapper .swiper-slide .userfeed p{
        font-size: 1.5rem;
    }

    .body .testimonial .sample-slider1 .swiper-wrapper .swiper-slide .userfeed .colon{
        font-size: 7.5rem;
    }

    .body .testimonial .sample-slider1 [class^="swiper-button-"]::after{
        font-size: 2.5rem;
    }

    .body .testimonial .sample-slider1 .swiper-wrapper .swiper-slide .user .userpic {
        left: 10%;
    }

    .body .testimonial .sample-slider1 .swiper-wrapper .swiper-slide .user .dash {
        left: 21%;
        height: 0.2em;
    }

    .body .testimonial .sample-slider1 .swiper-wrapper .swiper-slide .user .username {
        left: 24%;
        font-size: 1.1rem;
    }

    .body .gallery {
        height: 130rem;
        top: 13%;
    }

    .body .gallery .galltext {
        font-size: 3.3rem;
    }

    .body .gallery .gallimages {
        height: 86%;
        width: 80%;
        top: 6.2%;
    }

    .body .gallery .gallimages .top .rite .up {
        height: 47%;
        margin-bottom: 1em;
    }

    .body .gallery .gallimages .top .rite .up .imgb {
        width: 62%;
    }
    
    .body .gallery .gallimages .top .rite .up .imgc{
        width: 33%;
    }

    .body .gallery .gallimages .top .rite .dwn {
        height: 47%;
    }

    .body .gallery .gallimages .top .rite .dwn .imgd {
        width: 33%;
    }
    
    .body .gallery .gallimages .top .rite .dwn .imge {
        width: 62%;
    }
    
    .body .gallery .gallimages .mid .imgg {
        width: 67%;
    }

    .body .gallery .gallimages .bttom {
        height: 23%;
    }

    .body .gallery .gallimages .bttom .imgh {
        width: 48%;
    }
    
    .body .gallery .gallimages .bttom .imgi {
        width: 49%;
    }

    .body .questions {
        height: 50rem;
        top: 13.5%;
    }

    .body .questions .faq {
        font-size: 3.3rem;
    }

    .body .questions .dropdwn1 .drop-btn1,
    .body .questions .dropdwn2 .drop-btn2,
    .body .questions .dropdwn3 .drop-btn3,
    .body .questions .dropdwn4 .drop-btn4 {
        border-radius: 2.4em;
    }

    .body .questions .dropdwn1 .drop-btn1 i,
    .body .questions .dropdwn2 .drop-btn2 i,
    .body .questions .dropdwn3 .drop-btn3 i,
    .body .questions .dropdwn4 .drop-btn4 i {
        font-size: 4rem;
    }

    .body .questions .dropdwn1 .drop-btn1 .drop-text1,
    .body .questions .dropdwn2 .drop-btn2 .drop-text2, 
    .body .questions .dropdwn3 .drop-btn3 .drop-text3,
    .body .questions .dropdwn4 .drop-btn4 .drop-text4 {
        font-size: 1.4rem;
    }

    .body .questions .dropdwn1 .paragraph1,
    .body .questions .dropdwn2 .paragraph2,
    .body .questions .dropdwn3 .paragraph3,
    .body .questions .dropdwn4 .paragraph4 {
        font-size: 1.4rem;
        padding: 3em 1em 1em 5.4em;
    }

    .body .partners {
        height: 18rem;
        top: 16%;
        border-radius: 3.5em;
    }

    .body .partners .ourpart {
        font-size: 2.5rem;
    }

    footer {
        top: -20%;
        height: 32rem;
    }

    footer .bottom {
        height: 95%;
        top: 5%;
    }

    footer .bottom .tophalf {
        top: 5%;
        height: 75%;
    }

    footer .bottom .tophalf .contact .gel {
        width: 22%;
        height: 20%;
    }
    
    footer .bottom .tophalf .contact .gel .ge-t{
        font-size: 1.3rem;
        bottom: 2%;
    }

    footer .bottom .tophalf .contact .abt1,
    footer .bottom .tophalf .contact .abt2 {
        top: 57%;
    }

    footer .bottom .tophalf .contact .abt1 li {
        font-size: 1.3rem;
        margin: 0 4em 1.1em 0;
    }

    footer .bottom .tophalf .contact .abt2 li {
        font-size: 1.3rem;
    }

    footer .bottom .tophalf .contactus .cntus {
        font-size: 1.4rem;
    }

    footer .bottom .tophalf .contactus .addr {
        font-size: 1.2rem;
        letter-spacing: 0.03em;
        line-height: 1.6em;
    }

    footer .bottom .thin-bar {
        top: 8%;
    }

    footer .bottom .btmhalf {
        top: 9%;
    }

    footer .bottom .btmhalf .copyrt .c{
        font-size: 1.3rem;
    }

    footer .bottom .btmhalf .copyrt .cget {
        font-size: 1.3rem;
    }

    footer .bottom .btmhalf .social {
        width: 18%;
        height: 3.2rem;
        left: 32%;
    }

    footer .bottom .btmhalf .social li a{
        font-size: 2.5rem;
    }

}



@media (max-width: 1600px) {

    header nav .detbx .basicnav {
        right: 5%;
    }

    header nav .detbx .basicnav li {
        font-size: 1rem;
    }

    header nav .detbx .logo {
        height: 70%;; 
    }

    header nav .detbx .logo .miniget{
        font-size: 0.85rem;
        letter-spacing: 0;
    }

    header nav .detbx .logo .getlo{
        width: 2.5rem;
    }

    header nav .detbx .signup {
        font-size: 0.8rem;
    }

    header nav .welnote .headtxt {
        font-size: 1.1rem;
        letter-spacing: 1px;
    }

    header nav .welnote .getrust {
        font-size: 2.6rem;
    }

    section {
        height: 62rem;
    }

    section .split-col .left .text-container .grant1{
        font-size: 1.8rem;
    }

    section .split-col .left .text-container .grant2{
        font-size: 1.1rem;
        top: 10%;
    }

    section .split-col .left .text-container .apply {
        font-size: 1.2rem;
        border-radius: 0.9em;
        top: 18%;
    }

    section .reach .rcontainer {
        top: -74%;
    }

    section .reach .rcontainer .progress {
        font-size: 2.6rem;
    }

    section .reach .rcontainer .explan {
        margin-top: 0;
    }

    section .reach .rcontainer .explan p{
        font-size: 1.05rem;
    }

    .body {
        height: 455rem;
    }

    .body .cslide {
        height: 27rem;
        top: 3.4%;
    }

    .body .cslide .cohort {
        font-size: 2.6rem;
    }

    .body .cslide .sample-slider [class^="swiper-button-"]::after{
        font-size: 2rem;
    }

    .body .square {
        top: 5.5%;
        height: 50rem;
    }

    .body .square .get {
        font-size: 1.5rem;
    }

    .body .grant-img {
        top: 7.5%;
        height: 41rem;
    }

    .body .grant-img .ourg {
        font-size: 2.6rem;
    }

    .body .grant-img .tri-slide .med-grant .afg {
        font-size: 0.9rem;
    }

    .body .grant-img .tri-slide .med-grant .med {
        font-size: 1.4rem;
    }

    .body .six-container {
        max-height: 56.5rem;
        height: 100%;
        top: 8.5%;    
    }

    .body .six-container .who {
        font-size: 2.6rem;
    }

    .body .testimonial {
        height: 40rem;
        top: 11.5%;
    }

    .body .testimonial .textimony {
        font-size: 2.6rem;
    }

    .body .testimonial .sample-slider1 .swiper-wrapper .swiper-slide .userfeed .colon{
        font-size: 7rem;
        margin: 0.5em;
    }

    .body .testimonial .sample-slider1 .swiper-wrapper .swiper-slide .userfeed p{
        font-size: 1.2rem;
        margin-top: 2.3em;
    }

    .body .testimonial .sample-slider1 [class^="swiper-button-"]::after{
        font-size: 2rem;
    }

    .body .testimonial .sample-slider1 .swiper-wrapper .swiper-slide .user .dash {
        left: 20.5%;
    }

    .body .gallery {
        height: 105rem;
        top: 13.5%;
    }

    .body .gallery .galltext {
        font-size: 2.6rem;
    }

    .body .gallery .gallimages .mid {
        height: 23%;
    }

    .body .gallery .gallimages .bttom {
        height: 22%;
    }

    .body .questions {
        height: 40rem;
        top: 14%;
    }

    .body .questions .faq {
        font-size: 2.6rem;
    }

    .body .questions .dropdwn1 .drop-btn1,
    .body .questions .dropdwn2 .drop-btn2,
    .body .questions .dropdwn3 .drop-btn3,
    .body .questions .dropdwn4 .drop-btn4 {
        border-radius: 1.9em;
        padding: 0 6em;
    }

    .body .questions .dropdwn1 .drop-btn1 i,
    .body .questions .dropdwn2 .drop-btn2 i,
    .body .questions .dropdwn3 .drop-btn3 i,
    .body .questions .dropdwn4 .drop-btn4 i {
        font-size: 3rem;
    }

    .body .questions .dropdwn1 .drop-btn1 .drop-text1,
    .body .questions .dropdwn2 .drop-btn2 .drop-text2, 
    .body .questions .dropdwn3 .drop-btn3 .drop-text3,
    .body .questions .dropdwn4 .drop-btn4 .drop-text4 {
        font-size: 1.1rem;
    }

    .body .questions .dropdwn1 .paragraph1,
    .body .questions .dropdwn2 .paragraph2,
    .body .questions .dropdwn3 .paragraph3,
    .body .questions .dropdwn4 .paragraph4 {
        font-size: 1.1rem;
        padding: 2em 1em 2.5em 5.3em;
    }

    .body .partners {
        height: 15rem;
        top: 16.5%;
        border-radius: 3em;
    }

    .body .partners .ourpart {
        font-size: 2rem;
    }

    footer {
        top: -17%;
        height: 26rem;
    }

    footer .bottom .tophalf .contact .gel {
        width: 20%;
        height: 19%;
    }
    
    footer .bottom .tophalf .contact .gel .ge-t{
        font-size: 1rem;
    }

    footer .bottom .tophalf .contact .abt1,
    footer .bottom .tophalf .contact .abt2 {
        top: 55%;
    }

    footer .bottom .tophalf .contact .abt1 li {
        font-size: 1rem;
    }

    footer .bottom .tophalf .contact .abt2 li {
        font-size: 1rem;
    }

    footer .bottom .tophalf .contactus .cntus {
        font-size: 1.1rem;
    }

    footer .bottom .tophalf .contactus .addr {
        font-size: 0.9rem;
    }

    footer .bottom .btmhalf {
        border: 1px solid purple;
    }

    footer .bottom .btmhalf .copyrt .c{
        font-size: 1rem;
    }

    footer .bottom .btmhalf .copyrt .cget {
        font-size: 1rem;
    }

    footer .bottom .btmhalf .copyrt .c {
        height: 25%;
    }

    footer .bottom .btmhalf .social {
        left: 30%;
        width: 20%;
        border: 1px solid green;
    }

    footer .bottom .btmhalf .social li a{
        font-size: 2rem;
    }








    
    





}



@media (max-width: 1366px) {
    header nav .rect {
        max-height: 15.5%;
        height: 100%;
    }

    header nav .detbx {
        max-height: 15.5%;
        height: 100%;
        top: -15.5%;
    }

    header nav .welnote .headtxt {
        font-size: 1rem;
    }

    header nav .welnote .getrust {
        font-size: 2.3rem;
    }

    header nav .welnote {
        top: 11%;
    }

    section {
        height: 55rem;
    }

    section .split-col .left .text-container .apply {
        font-size: 1.1rem;
    }

    section .reach .rcontainer .progress {
        font-size: 2.3rem;
    }

    section .reach .rcontainer .explan{
        margin-top: 0.5em;
    }

    section .reach .rcontainer .explan p{
        font-size: 1.1rem;
    }

    .body {
        height: 385rem;
    }

    .body .cslide {
        height: 25rem;
        top: 3.7%;
    }

    .body .cslide .cohort {
        font-size: 2.3rem;
    }

    .body .cslide .sample-slider [class^="swiper-button-"]::after{
        font-size: 1.7rem;
    }

    .body .square {
        top: 5.4%;
        height: 42rem;
        width: 75%;
    }

    .body .square .glog {
        width: 4.5rem;
    }
    
    .body .square .get {
        font-size: 1.4rem;
    }
    
    .body .square .loadbar {
        width: 83%;
    }

    .body .grant-img {
        top: 7%;
        height: 31rem;
    }

    .body .grant-img .ourg {
        font-size: 2.3rem;
        top: 3%
    }

    .body .grant-img .tri-slide {
        width: 93%;
    }

    .body .grant-img .bbar {
        height: 0.15rem;
    }

    .body .six-container {
        max-height: 45.2rem;
        width: 86%;
        top: 8.6%;
    }

    .body .six-container .who {
        font-size: 2.3rem;
    }

    .body .testimonial {
        height: 31rem;
        top: 11.6%;
    }

    .body .testimonial .textimony {
        font-size: 2.3rem;
    }

    .body .testimonial .sample-slider1 .swiper-wrapper .swiper-slide .userfeed p{
        font-size: 1.05rem;
        margin-bottom: 1em;
    }
    .body .testimonial .sample-slider1 [class^="swiper-button-"]::after{
        font-size: 1.5rem;
    }

    .body .testimonial .sample-slider1 .swiper-wrapper .swiper-slide .user {
        top: 0;
    }
    
    .body .testimonial .sample-slider1 .swiper-wrapper .swiper-slide .user .userpic {
        width: 3rem;
    }

    .body .testimonial .sample-slider1 .swiper-wrapper .swiper-slide .user .dash {
        left: 2%;
        width: 11%;
    }

    .body .testimonial .sample-slider1 .swiper-wrapper .swiper-slide .user .username {
        font-size: 0.8rem;
        left: 4%;
    }

    .body .gallery {
        height: 88rem;
        top: 13.7%;
    }

    .body .gallery .galltext {
        font-size: 2.3rem;
    }

    .body .gallery .gallimages {
        top: 6.8%;
        width: 79%;
        height: 84%;
    }

    .body .questions {
        height: 35rem;
        top: 14.2%;
    }

    .body .questions .faq {
        font-size: 2.3rem;
    }

    .body .questions .dropdwn1 .drop-btn1 .drop-text1,
    .body .questions .dropdwn2 .drop-btn2 .drop-text2, 
    .body .questions .dropdwn3 .drop-btn3 .drop-text3,
    .body .questions .dropdwn4 .drop-btn4 .drop-text4 {
        letter-spacing: 0;
    }

    .body .questions .dropdwn1 .drop-btn1 i,
    .body .questions .dropdwn2 .drop-btn2 i,
    .body .questions .dropdwn3 .drop-btn3 i,
    .body .questions .dropdwn4 .drop-btn4 i{
        transition: 0.3s;
    }

    .body .questions .dropdwn1 .paragraph1,
    .body .questions .dropdwn2 .paragraph2,
    .body .questions .dropdwn3 .paragraph3,
    .body .questions .dropdwn4 .paragraph4 {
        font-size: 1.1rem;
        padding: 2em 1em 2em 4.5em;
    }

    .body .partners {
        height: 12.5rem;
        top: 16.7%;
    }

    .body .partners .partext {
        height: 34%;
    }

    .body .partners .ourpart {
        font-size: 1.6rem;
    }

    footer {
        top: -32%;
        height: 23rem;
    }

    footer .bottom .tophalf .contact .gel {
        width: 11rem;
        height: 3.7rem;
    }

    footer .bottom .tophalf .contact .gel .ge-t {
        font-size: 1.1rem;
    }

    footer .bottom .tophalf .contact .abt1,
    footer .bottom .tophalf .contact .abt2 {
        top: 46%;
    }

    footer .bottom .tophalf .contact .abt1 li {
        font-size: 0.9rem;
        line-height: 1em;
        margin: 0 3.1em 1.1em 0;
    }

    footer .bottom .tophalf .contact .abt2 li {
        font-size: 0.9rem;
        line-height: 1em;
        margin: 0 5.1em 0.5em 0;
    }

    footer .bottom .tophalf .contactus .cntus {
        letter-spacing: 0;
    }

    footer .bottom .tophalf .contactus .addr {
        font-size: 0.8rem;
    }

    footer .bottom .btmhalf .copyrt .c {
        font-size: 0.9rem;
    }

    footer .bottom .btmhalf .copyrt .cget {
        font-size: 1.1rem;
        letter-spacing: 0;
    }

    footer .bottom .btmhalf .social {
        left: 52%;
    }

}



@media (max-width: 1280px) {
    header nav .rect {
        max-height: 17%;
        height: 100%;
    }

    header nav .detbx {
        max-height: 17%;
        height: 100%;
        top: -17%;
    }

    header nav .detbx .basicnav li {
        font-size: 0.8rem;
    }

    header nav .detbx .logo {
        height: 85%;
    }

    header nav .detbx .logo .getlo {
        width: 1.5rem;
    }

    header nav .detbx .logo .miniget {
        font-size: 0.5rem;
    }

    header nav .detbx .signup {
        font-size: 0.6rem;
    }

    header nav .welnote .headtxt {
        font-size: 0.8rem;
    }

    header nav .welnote .getrust {
        font-size: 2.1rem;
    }

    section {
        height: 50rem;
    }

    section .split-col .left .text-container {
        width: 70%;
        height: 70%;
        top: 15%;
        left: 5%;
    }

    section .split-col .left .text-container .grant1 {
        font-size: 1.5rem;
    }

    section .split-col .left .text-container .grant2 {
        font-size: 1rem;
        line-height: 1.5em;
        top: 14%;
    }

    section .split-col .left .text-container .apply {
        width: 33%;
        font-size: 1rem;
        border-radius: 14px;
        top: 19%;
        height: 18%;
    }

    section .reach .rcontainer .progress {
        font-size: 2.1rem;
    }

    section .reach .rcontainer .explan p{
        font-size: 1rem;
    }

    .body {
        height: 368rem;
    }

    .body .cslide {
        height: 24.5rem;
        top: 3.7%;
    }

    .body .cslide .cohort {
        font-size: 2.1rem;
    }

    .body .square {
        top: 5.5%;
        height: 42rem;
    }

    .body .square .get {
        font-size: 1.4rem;
    }

    .body .grant-img {
        top: 7.4%;
        height: 31rem;
    }

    .body .grant-img .ourg {
        font-size: 2.1rem;
    }

    .body .grant-img .tri-slide .med-grant .med {
        font-size: 1rem;
    }

    .body .six-container {
        max-height: 49rem;
        height: 100%;
        top: 9%;
    }

    .body .six-container .who {
        font-size: 2.1rem;
    }

    .body .six-container .col-1,
    .body .six-container .col-2 {
        height: 38%;
        top: 6.7%;
    }

    .body .testimonial {
        height: 30.5rem;
        top: 10.5%;
    }

    .body .testimonial .textimony {
        font-size: 2.1rem;
    }

    .body .testimonial .sample-slider1 .swiper-wrapper .swiper-slide .userfeed p{
        font-size: 1.05rem;
    }

    .body .testimonial .sample-slider1 .swiper-wrapper .swiper-slide .userfeed .colon {
        font-size: 6rem;
    }

    .body .testimonial .sample-slider1 .swiper-wrapper .swiper-slide .user .userpic {
        width: 3.2rem;
        margin-left: 2.2em;
    }

    .body .testimonial .sample-slider1 .swiper-wrapper .swiper-slide .user .dash {
        margin-left: 1.8em;
        width: 11%;
        height: 0.15em;
    }

    .body .testimonial .sample-slider1 .swiper-wrapper .swiper-slide .user .username {
        font-size: 0.7rem;
        margin-left: 0.8em;
    }

    .body .gallery {
        height: 88rem;
        top: 12.8%;
    }

    .body .gallery .galltext {
        font-size: 1.9rem;
    }

    .body .gallery .gallimages {
        height: 80%;
        top: 6.6%;
    }

    .body .gallery .gallimages .top {
        height: 47.2%;
    }

    .body .questions {
        height: 34rem;
        top: 11.9%;
    }

    .body .questions .faq {
        font-size: 2.1rem;
    }

    .body .questions .dropdwn1 .drop-btn1 .drop-text1,
    .body .questions .dropdwn2 .drop-btn2 .drop-text2, 
    .body .questions .dropdwn3 .drop-btn3 .drop-text3,
    .body .questions .dropdwn4 .drop-btn4 .drop-text4 {
        font-size: 1rem;
    }

    .body .questions .dropdwn1 .paragraph1,
    .body .questions .dropdwn2 .paragraph2,
    .body .questions .dropdwn3 .paragraph3,
    .body .questions .dropdwn4 .paragraph4 {
        font-size: 1rem;
        padding: 2em 1em 2em 5em;
    }

    .body .partners {
        height: 12rem;
        top: 14.4%;
    }

    .body .partners .partext {
        height: 33%;
        width: 22%;
    }

    .body .partners .ourpart {
        font-size: 1.4rem;
    }

    footer {
        top: -18%;
        height: 21rem;
    }

    footer .bottom .tophalf .contact .gel {
        width: 10rem;
        height: 3.3rem;
    }

    footer .bottom .tophalf .contact .gel .ge-t {
        font-size: 1.05rem;
        bottom: 0.1em;
    }

    footer .bottom .tophalf .contactus .addr {
        font-size: 0.9rem;
        line-height: 1.3em;
    }

    footer .bottom .thin-bar {
        top: 0.7%;

    }

    footer .bottom .btmhalf .copyrt .c {
        font-size: 0.7rem;
    }

    footer .bottom .btmhalf .copyrt .cget {
        font-size: 1rem;
    }

    footer .bottom .tophalf .contactus {
        width: 22%;
        left: 8%;
    }

    footer .bottom .tophalf .contactus .addr {
        font-size: 0.75rem;
        line-height: 1.5em;
    }

    footer .bottom .btmhalf .social {
        left: 54%;
        width: 17%;
    }

    footer .bottom .btmhalf .social li a{
        font-size: 1.8em;
    }
    
}


@media (max-width: 1200px) {

    header nav .welnote .headtxt {
        line-height: 1.6em;
    }

    section {
        height: 47rem;
    }

    section .split-col .left .text-container .grant1 {
        font-size: 1.4rem;
    }

    section .split-col .left .text-container .grant2 {
        font-size: 0.9rem;
        top: 12%;
    }

    section .split-col .left .text-container .apply {
        width: 32%;
        font-size: 0.91rem;
        height: 17%;
        top: 20%;
    }

    .body {
        height: 355rem;
    }

    .body .cslide {
        height: 23rem;
        top: 3.7;
    }

    .body .square {
        top: 5.4%;
        height: 41rem;
    }

    .body .square .get {
        font-size: 1.2rem;
    }

    .body .grant-img {
        top: 7%;
        height: 29rem;
    }

    .body .six-container {
        max-height: 46rem;
        height: 100%;
        top: 8.6%;
    }

    .body .testimonial {
        height: 27rem;
        top: 10%;
    }

    .body .testimonial .sample-slider1 .swiper-wrapper .swiper-slide .userfeed p{
        font-size: 0.9rem;
    }

    .body .testimonial .sample-slider1 .swiper-wrapper .swiper-slide .user .userpic {
        width: 3rem;
    }

    .body .testimonial .sample-slider1 .swiper-wrapper .swiper-slide .user .dash {
        margin-left: 1.9em;
    }

    .body .gallery {
        height: 85rem;
        top: 12.4%;
    }

    .body .gallery .gallimages {
        top: 6.5%;
    }

    .body .gallery .gallimages .bttom .imgh {
        width: 47%;
    }
    
    .body .gallery .gallimages .bttom .imgi {
        width: 50%;
    }

    .body .gallery .gallimages .mid .imgf {
        width: 33%;
    }

    .body .gallery .gallimages .mid .imgg {
        width: 67%;
    }

    .body .questions {
        height: 32rem;
        top: 11.4%;
    }

    .body .questions .dropdwn1 .drop-btn1 .drop-text1,
    .body .questions .dropdwn2 .drop-btn2 .drop-text2, 
    .body .questions .dropdwn3 .drop-btn3 .drop-text3,
    .body .questions .dropdwn4 .drop-btn4 .drop-text4 {
        font-size: 0.95rem;
    }

    .body .questions .dropdwn1 .drop-btn1,
    .body .questions .dropdwn2 .drop-btn2,
    .body .questions .dropdwn3 .drop-btn3,
    .body .questions .dropdwn4 .drop-btn4 {
        padding: 0 5.5em;
        border-radius: 1.4em;
    }

    .body .questions .dropdwn1 .paragraph1,
    .body .questions .dropdwn2 .paragraph2,
    .body .questions .dropdwn3 .paragraph3,
    .body .questions .dropdwn4 .paragraph4 {
        font-size: 0.95rem;
        padding: 2em 1em 2em 5.7em;
    }

    .body .partners {
        height: 11rem;
        top: 14%;
        border-radius: 2em;
    }

    footer {
        top: -40%;
        height: 21rem;
    }

    footer .bottom .tophalf .contactus .addr {
        line-height: 1.7em;
        font-size: 0.7rem;
    }

    footer .bottom .tophalf .contact .abt1 li{
        font-size: 0.87rem;
    }
    
    footer .bottom .tophalf .contact .abt2 li{
        font-size: 0.87rem;
    }

    footer .bottom .btmhalf .copyrt .cget {
        font-size: 0.87rem;
    }

    footer .bottom .btmhalf .social {
        left: 55.4%;
    }

}




@media (max-width: 1024px) {

    header nav .detbx .basicnav {
        font-size: 0.7rem;
        right: 5%;
    }

    header nav .detbx .basicnav li {
        font-size: 0.7rem;
    }

    header nav .detbx .signup {
        width: 14%;
    }

    header nav .welnote {
        top: 18%;
    }

    header nav .welnote .headtxt {
        font-size: 0.7rem;
        line-height: 1.5em;
    }

    header nav .welnote .getrust {
        font-size: 1.9rem;
    }

    section {
        height: 40rem;
    }

    section .split-col .left .text-container {
        width: 60%;
        top: 16%;
    }

    section .split-col .left .text-container .grant1 {
        font-size: 1.1rem;
    }

    section .split-col .left .text-container .grant2 {
        font-size: 0.8rem;
    }

    section .split-col .left .text-container .apply {
        width: 37%;
        font-size: 0.8rem;
        border-radius: 14px;
        top: 18%;
        height: 19%;
        border-radius: 12px;
    }

    section .reach .rcontainer {
        top: -83%;
    }

    section .reach .rcontainer .progress {
        font-size: 1.9rem;
    }

    section .reach .rcontainer .explan {
        margin-top: 0;
    }

    section .reach .rcontainer .explan p{
        font-size: 0.8rem;
    }

    .body {
        height: 305rem;
        top: -3rem;
    }

    .body .cslide {
        height: 19rem;
        top: 2.8%;
    }

    .body .cslide .cohort {
        font-size: 1.9rem;
    }

    .body .square {
        top: 4.6%;
        height: 37rem;
    }

    .body .square .loadbar {
        height: 0.5%;
    }

    .body .square .glog {
        width: 4rem;
    }

    .body .square .get {
        font-size: 1.1rem;
    }

    .body .grant-img {
        top: 6.2%;
        height: 25rem;
    }

    .body .grant-img .ourg {
        font-size: 1.9rem;
    }

    .body .grant-img .tri-slide .med-grant{
        border-radius: 0.6em;
    }

    .body .grant-img .tri-slide .med-grant img{
        border-radius: 0.6em;
    }

    .body .grant-img .tri-slide .med-grant .med {
        font-size: 0.8rem;

    }

    .body .grant-img .tri-slide .med-grant .afg {
        font-size: 0.5rem;
    }

    .body .grant-img .bbar {
        height: 0.5%;
    }

    .body .six-container {
        max-height: 35rem;
        height: 100%;
        top: 7.8%;
    }

    .body .six-container .who {
        font-size: 1.9rem;
    }

    .body .six-container .col-1,
    .body .six-container .col-2 {
        height: 42.6%;
    }

    .body .testimonial {
        height: 24rem;
        top: 9.7%;
    }

    .body .testimonial .textimony {
        font-size: 1.9rem;
    }

    .body .testimonial .sample-slider1 .swiper-wrapper .swiper-slide .userfeed p{
        font-size: 0.8rem;
    }

    .body .testimonial .sample-slider1 .swiper-wrapper .swiper-slide .userfeed .colon {
        font-size: 5rem;
    }

    .body .testimonial .sample-slider1 .swiper-wrapper .swiper-slide .user .userpic {
        width: 12%;
        margin-left: 1.9em;
    }

    .body .testimonial .sample-slider1 .swiper-wrapper .swiper-slide .user .dash {
        margin-left: 1.6em;
        width: 11%;
        height: 0.10em;
    }

    .body .testimonial .sample-slider1 .swiper-wrapper .swiper-slide .user .username {
        font-size: 0.6rem;
        margin-left: 0.8em;
    }

    .body .testimonial .sample-slider1 [class^="swiper-button-"]::after{
        font-size: 1.4rem;
    }

    .body .testimonial .sample-slider1 [class^="swiper-button-"]{
        bottom: 3%;
    }

    .body .gallery {
        height: 68rem;
        top: 11.3%;
    }

    .body .gallery .galltext {
        font-size: 1.9rem;
    }

    .body .gallery .gallimages {
        height: 90%;
        width: 83%;
        top: 5%;
    }

    .body .gallery .gallimages .top {
        height: 46%;
        margin-bottom: 2em;
    }

    .body .gallery .gallimages .top .rite {
        margin: 0 0 2em 2em;
    }

    .body .gallery .gallimages .mid {
        width: 100%;
        height: 22%;
        margin-bottom: 2em;
    }

    .body .gallery .gallimages .bttom {
        height: 22%;

    }
    .body .gallery .gallimages .top .rite .dwn .imge,
    .body .gallery .gallimages .mid .imgg {
        margin-left: 2em;
    }
    .body .gallery .gallimages .top .rite .up .imgb,
    .body .gallery .gallimages .bttom .imgh {
        margin-right: 2em;
    }

    .body .questions {
        height: 28em;
        top: 11.8%;
    }

    .body .questions .faq {
        font-size: 1.9rem;
    }

    .body .questions .dropdwn1 .drop-btn1 .drop-text1,
    .body .questions .dropdwn2 .drop-btn2 .drop-text2, 
    .body .questions .dropdwn3 .drop-btn3 .drop-text3,
    .body .questions .dropdwn4 .drop-btn4 .drop-text4 {
        font-size: 0.8rem;
    }

    .body .questions .dropdwn1 .paragraph1,
    .body .questions .dropdwn2 .paragraph2,
    .body .questions .dropdwn3 .paragraph3,
    .body .questions .dropdwn4 .paragraph4 {
        font-size: 0.8rem;
        padding: 2em 1em 2em 5em;
    }
    
    .body .questions .dropdwn1 .drop-btn1 i,
    .body .questions .dropdwn2 .drop-btn2 i,
    .body .questions .dropdwn3 .drop-btn3 i,
    .body .questions .dropdwn4 .drop-btn4 i{
        font-size: 2rem;
    }

    .body .questions .dropdwn1 .drop-btn1,
    .body .questions .dropdwn2 .drop-btn2,
    .body .questions .dropdwn3 .drop-btn3,
    .body .questions .dropdwn4 .drop-btn4 {
        padding: 0 4em;
        border-radius: 1.3em;
    }

    .body .partners {
        height: 10rem;
        border-radius: 2em;
    }

    .body .partners .partext {
        height: 31%;
        width: 23%;
    }

    .body .partners .ourpart {
        font-size: 1.1rem;
    }

    footer {
        top: -43%;
        height: 19rem;
    }

    footer .bottom .tophalf .contact .gel {
        width: 9rem;
        height: 3rem;;
    }

    footer .bottom .tophalf .contact .gel img{
        margin-right: 0.5em;
    }

    footer .bottom .tophalf .contact .gel .ge-t {
        font-size: 0.9rem;
    }

    footer .bottom .tophalf .contact .abt1 li,
    footer .bottom .tophalf .contact .abt2 li {
        font-size: 0.75rem;
    }

    footer .bottom .tophalf .contactus .cntus {
        font-size: 0.8rem;
    }

    footer .bottom .tophalf .contactus .addr {
        font-size: 0.6rem;
        line-height: 1.6em;
    }

    footer .bottom .btmhalf .copyrt .c {
        font-size: 0.7rem;
        height: 1.4rem;
        width: 1.4rem;
    }

    footer .bottom .btmhalf .copyrt .cget {
        font-size: 0.8rem;
    }

    footer .bottom .btmhalf .social {
        left: 53%;
    }

    footer .bottom .btmhalf .social li a{
        font-size: 1.5em;
    }

}


@media (max-width: 992px) {

    header nav .detbx .basicnav li {
        font-size: 0.68rem;
    }

    header nav .detbx .basicnav {
        width: 57%;
        right: 6%;
    }

    header nav .detbx .signup {
        right: 1.5%;
    }

    header nav .welnote .headtxt {
        font-size: 0.67rem;
        line-height: 1.7em;
    }

    header nav .welnote .getrust {
        font-size: 1.7rem;
    }

    .body .cslide .cohort {
        font-size: 1.7rem;
    }

    section .reach .rcontainer .progress {
        font-size: 1.7rem;
    }

    .body .cslide .sample-slider [class^="swiper-button-"]::after{
        font-size: 1.1rem;
    }

    .body .square .glog {
        width: 3.7rem;
    }

    .body .square .get {
        font-size: 0.9rem;
    }

    .body .square .loadbar {
        height: 0.5%;
        top: 77%;
    }

    .body .grant-img .ourg {
        font-size: 1.7rem;
    }

    .body .six-container {
        max-height: 34rem;
        height: 100%;
    }

    .body .six-container .who {
        font-size: 1.7rem;
    }

    .body .testimonial {
        height: 23rem;
        top: 9.9%;
    }

    .body .testimonial .textimony {
        font-size: 1.7rem;
    }

    .body .testimonial .sample-slider1 .swiper-wrapper .swiper-slide .user .dash {
        margin-left: 1.7em;
    }

    .body .gallery {
        height: 80em;
        top: 11.8%;
    }

    .body .gallery .galltext {
        font-size: 1.7rem;
    }

    .body .gallery .gallimages {
        height: 80%;
    }

    .body .gallery .gallimages .top img{
        width: 30%;
    }

    .body .gallery .gallimages .top .rite .up .imgb {
        width: 60%;
    }
    
    .body .gallery .gallimages .top .rite .up .imgc{
        width: 34%;
    }

    .body .gallery .gallimages .top .rite .dwn .imge {
        width: 60%;
    }

    .body .gallery .gallimages .mid .imgf {
        width: 29.5%;
    }

    .body .gallery .gallimages .mid .imgg {
        width: 66.5%;
    }

    .body .gallery .gallimages .bttom .imgi {
        width: 49.1%;
    }

    .body .questions {
        top: 9.3%;
    }
    
    .body .questions .faq {
        font-size: 1.7 rem;
    }

    .body .partners {
        top: 12%;
    }

    footer {
        top: -37.4%;
    }

}
  

@media (max-width: 992px) {

    header nav .detbx .basicnav {
        font-size: 0.7rem;
        right: 5%;
    }




}
