 
html, body {
    height: 100%;
    width: 100%;
}

header {
    position: relative;
    max-height: 75rem;
    height: 100%;
    background-image: url("C:/Users/Lawrenzo/Documents/groomingendowment/assets/image 4.png");
    max-width: 100%;
    width: 100%;
    background-size: cover;  
}

header nav {
    position: relative;
    max-width: 80%;
    max-height: 55%;
    height: 100%;
    box-sizing: border-box;
    margin: auto;
    bottom: -8rem;
}

header nav .rect {
    position: relative;
    margin: auto;
    height: 17%;
    width: 100%;
    border: 0.5px solid #808080;
    box-sizing: border-box;
    border-radius: 50px;
    background-color: rgba(255, 255 255, 0.2);
    backdrop-filter: blur(15px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

header nav .detbx {
    position: relative;
    display: flex;
    box-sizing: border-box;
    height: 17%;
    width: 100%;
    margin: auto;
    padding: 0.9em;
    align-items: center;
    z-index: 9999;
    top: -17%;
    border-radius: 50px;
}

header nav .detbx .logo {
    position: relative;
    display: flex;
    width: 20%;
    align-items: center;
    justify-content: center;
    margin-right: 8em;
    height: 80%;
    box-sizing: border-box;  
}

header nav .detbx .logo .getlo{
    margin-right: 0.5em;
    width: 3rem;
}

header nav .detbx .logo .miniget{
    position: relative;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    z-index: 9999;
    letter-spacing: 2px;
    font-weight: 300;
    font-size: 1rem;
    line-height: 1.3em;
}

header nav .detbx .basicnav {
    position: relative;
    display: flex;
    width: 55%;
}

header nav .detbx .basicnav li {
    text-transform: capitalize;
    justify-content: center;
    font-weight: 300;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1px;
    font-size: 1.7rem;
    margin: auto;
}

header nav .detbx .basicnav li a{
    text-decoration: none;
    color: #fff;
}

header nav .detbx .basicnav li a:hover{
    color: #a407c2;
}

header nav .detbx .signup {
    position: absolute;
    display: flex;
    width: 13%;
    background: linear-gradient(to right, #d15cb3, #3f48cc);
    right: 1%;
    box-sizing: border-box;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
    letter-spacing: 2px;
    font-family: 'Poppins', sans-serif;
    font-size: 1.3rem;
    height: 60%;
    transition: all 0.3s ease-in-out;
}

header nav .detbx .signup a{
    color: #fff;
    text-decoration: none;
}

header nav .detbx .signup:hover{
    background: linear-gradient(to right, #d15cb3,  #d15cb3);
    transform: scale(1.02);
}

header nav .welnote {
    position: relative;
    margin: auto;
    text-align: center;
    text-transform: capitalize;
    box-sizing: border-box;
    height: 35%;
    top: 31%;
}

header nav .welnote .headtxt {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    line-height: 1.7em;
    letter-spacing: 1px;
    font-size: 1.6rem;
    color: #fff;
}

header nav .welnote .getrust{
    position: relative;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 4rem;
    color: #fff;
    top: 0.5em;
}

section {
    max-width: 100%;
    height: 94rem;
}

section .split-col {
    position: relative;
    display: flex;
    max-width: 100%;
    width: 100%;
    height: 100%;
    max-height: 50%;
}

section .split-col .left{
    position: relative;
    background: #e2adeb;
    width: 50%;
    height: 100%;
    border-right: 0.5em solid #210325;
    box-sizing: border-box;
}

section .split-col .left .text-container {
    position: relative;
    width: 60%;
    height: 60%;
    margin: auto;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    top: 20%;
}

section .split-col .left .text-container .grant1{
    position: relative;
    line-height: 1.5em;
    font-weight: 800;
    text-transform: capitalize;
    color: #210325;
    font-size: 2.4rem;
}

section .split-col .left .text-container .grant2{
    position: relative;
    text-transform: capitalize;
    color: #210325;
    font-weight: 500;
    line-height: 1.3em;
    font-size: 1.8rem;
    top: 1em;
}

section .split-col .left .text-container .apply {
    position: relative;
    display: flex;
    box-sizing: border-box;
    font-size: 1.7rem;
    font-weight: 500;
    width: 32%;
    height: 20%;
    top: 2.5em;
    background-color: #aa00c0;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    transition: all 0.3s ease-in-out;
}

section .split-col .left .text-container .apply a{
    text-decoration: none;
    color: #fff;
}

section .split-col .left .text-container .apply:hover{
    background-color: #e2adeb;
    border: 1px solid #aa00c0;
}

section .split-col .left .text-container .apply a:hover{
    color: #210325;
}

section .split-col .right {
    box-sizing: border-box;
    width: 50%;
    height: 100%;
}

section .split-col .right img{
    width: 100%;
    height: 100%;
}

section .reach {
    position: relative;
    width: 100%;
    height: 50%;
    box-sizing: border-box;
}

section .reach .curve {
    position: relative;
    width: 100%;
    height: 100%;
}

section .reach .rcontainer {
    position: relative;
    width: 100%;
    height: 50%;
    top: -75%;
}

section .reach .rcontainer .sheart {
    width: 5.5%;
    margin: auto;
    box-sizing: border-box;
}

section .reach .rcontainer .sheart img{
    width: 100%;
    height: 100%;
}

section .reach .rcontainer .progress {
    font-family: 'Poppins', sans-serif;
    font-size: 4rem;
    font-weight: 700;
    padding: 0.2em;
    margin: auto;
    text-transform: capitalize;
    color: #210325;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
}

section .reach .rcontainer .explan {
    height: fit-content;
    width: 100%;
    padding: 1.2em;
    box-sizing: border-box;
}

section .reach .rcontainer .explan p{
    font-size: 1.7rem;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    line-height: 1.4em;
    box-sizing: border-box;
}

.body {
    position: relative;
    max-height: 745rem;
    height: 745em;
    max-width: 100%;
    background-color: #0d091e;
    top: -6rem;
    z-index: -1;
}

.body .cslide {
    position: relative;
    width: 100%;
    height: 50rem;
    top: 4%;
    top: 19.5rem;
}

.body .cslide .cohort {
    position: relative;
    font-size: 4rem;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    width: auto;
    box-sizing: border-box;
    color: #fff;
    text-transform: capitalize;
    font-weight: 700;
}

.body .cslide .slider-container {
    position: relative;
    display: flex;
    width: 100%;
    height: 62%;
    top: 15%;
}

.body .cslide .slider-container img{
    position: relative;
    width: 24%;
    height: 100%;
    margin: auto;
}

.body .cslide .slider-container .more {
    width: 24%;
    height: 100%;
    border-radius: 20px;
    background: linear-gradient(to bottom, #ebcaf1, #51055C);
    margin: auto;
}


/* .body .slider-container {
    width: 100%;
    overflow: hidden;
}

.body .slider-container .slide {
    display: none;
    width: 15%;
    height: 10%;
}

.body .slider-container .slide img {
    width: 100%;
    height: auto;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateX(-50%);
    font-size: 1.5em;
}

.prev {
    left: 0.6em;
}

.next {
    right: 0.6em;
}

.dots {
    display: inline-block;
    width: 0.7em;
    height: 0.7em;
    border-radius: 50%;
    background-color: #bbb;
    margin: 0 0.2em;
    cursor: pointer;
}

.active {
    background-color: #333;
} */


.body .square {
    position: relative;
    /* height: 12%; */
    height: 90rem;
    max-width: 78%;
    background-color: black;
    margin: auto;
    box-sizing: border-box;
    top: 35rem;
}

.body .square .glog {
    position: relative;
    width: 9rem;
    margin: auto;
    top: 37%;
    box-sizing: border-box;
}

.body .square .glog img {
    width: 100%;
    height: 100%;
}

.body .square .get {
    position: relative;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 2.8rem;
    text-align: center;
    color: #fff;
    text-transform: capitalize;
    top: 40%;
}

.body .square .loadbar {
    position: relative;
    margin: auto;
    height: 0.5rem;
    width: 80%;
    background-color: #2c2c2c;
    top: 75%;
}

.body .square .loadbar .load{
    width: 90%;
    background-color: red;
    height: 100%;
}

.body .grant-img {
    position: relative;
    height: 60rem;
    width: 85%;
    box-sizing: border-box;
    top: 6.4%;
    margin: auto;
}

.body .grant-img .ourg {
    position: relative;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 4rem;
    font-weight: 700;
    color: #fff;
    top: 7%;
    text-transform: capitalize;
    box-sizing: border-box;
}

.body .grant-img .tri-slide {
    position: relative;
    display: flex;
    height: 32rem;
    width: 95%;
    box-sizing: border-box;
    margin: auto;
    top: 20%;
}

.body .grant-img .tri-slide .med-grant {
    width: 32%;
    height: 100%;
    margin: auto;
    background: linear-gradient(to top, #a407c2, transparent);
    border-radius: 20px;
}

.body .grant-img .tri-slide .med-grant .afg{
    position: relative;
    display: flex;
    height: 11%;
    width: 33%;
    background-color: #a407c2;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    border-radius: 10px;
    color: #fff;
    font-size: 1.3rem;
    right: -63%;
    top: 5%;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    z-index: 2;
}

.body .grant-img .tri-slide .med-grant img{
    position: relative;
    height: 100%;
    width: 100%;
    bottom: 11%;
    z-index: -1;
}

.body .grant-img .tri-slide .med-grant .med {
    position: relative;
    font-family: 'Poppins',sans-serif;
    font-size: 2.3rem;
    letter-spacing: 1px;
    color: #fff;
    text-align: center;
    font-weight: 600;
    bottom: 35%;
    text-decoration: underline;
}

.body .grant-img .bbar {
    position: relative;
    width: 70%;
    height: 0.2rem;
    background-color: #a407c2;
    margin: auto;
    top: 34%;
    z-index: 99999;
}

.body .six-container {
    position: relative;
    width: 90%;
    margin: auto;
    height: 90rem;
    box-sizing: border-box;
    top: 8.5%;
}

.body .six-container .who {
    position: relative;
    text-align: center;
    text-transform: capitalize;
    font-family: 'Poppins', sans-serif;
    font-size: 4rem;
    font-weight: 700;
    color: #fff;
}

.body .six-container .col-1,
.body .six-container .col-2 {
    position: relative;
    display: flex;
    width: 100%;
    height: 43.4%;
    top: 7%;
}

.body .six-container .col-1 .box1,
.body .six-container .col-2 .box1 {
    position: relative;
    width: 32%;
    height: 100%;
    box-sizing: border-box;
    margin: auto;
    border-radius: 30px;
}

.body .six-container .col-1 .box1 .frame9,
.body .six-container .col-2 .box1 .frame9 {
    width: 100%;
    height: 100%;
}

.body .six-container .col-1 .box1:hover,
.body .six-container .col-2 .box1:hover{
    transform: scale(1.02);
    transition: all 0.3s ease-in-out;
}

.body .testimonial {
    position: relative;
    width: 100%;
    height: 65rem;
    top: 11.3%;
    box-sizing: border-box;
}

.body .testimonial .textimony {
    position: relative;
    text-align: center;
    font-size: 4rem;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    color: #fff;
}

.body .testimonial .feed-slider {
    position: relative;
    display: flex;
    width: 100%;
    height: 57%;
    top: 15%;
}

.body .testimonial .feed-slider .feed1 {
    position: relative;
    height: 100%;
    width: 37%;
    box-sizing: border-box;
    background-color: #060116;
    margin-left: 3em;
    border-radius: 30px;
}

.body .testimonial .feed-slider .feed1 .userfeed {
    position: relative;
    display: flex;
    height: 70%;
    width: 100%;
    box-sizing: border-box;
    color: #fff;
}

.body .testimonial .feed-slider .feed1 .userfeed .colon {
    position: relative;
    font-size: 8rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    margin: 0.6em;
    color: #a407c2;
}

.body .testimonial .feed-slider .feed1 .userfeed p{
    font-size: 2.1rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    margin-top: 2em;
    margin-right: 2em;
    line-height: 1.4em;
}

.body .testimonial .feed-slider .feed1 .user {
    position: relative;
    display: flex;
    width: 100%;
    box-sizing: border-box;
    color: #fff;
    align-items: center;
}

.body .testimonial .feed-slider .feed1 .user .userpic {
    position: relative;
    margin-left: 4.4em;
    border-radius: 50%;
    width: 5.3rem;
}

.body .testimonial .feed-slider .feed1 .user .dash {
    position: relative;
    height: 0.3em;
    width: 4.5em;
    background-color: #fff;
    margin-left: 4em;
}

.body .testimonial .feed-slider .feed1 .user .username {
    position: relative;
    font-size: 1.6rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    margin-left: 0.7em;
}

.body .gallery {
    position: relative;
    height: 160rem;
    max-width: 100%;
    top: 13.1%;
}

.body .gallery .galltext {
    position: relative;
    text-align: center;
    font-size: 4rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: #fff;
}

.body .gallery .gallimages {
    position: relative;
    width: 78%;
    height: 91%;
    margin: auto;
    top: 5.6%;
    box-sizing: border-box;
}

.body .gallery .gallimages .top {
    position: relative;
    display: flex;
    height: 47.5%;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 3em;
}

.body .gallery .gallimages .top img{
    width: 30%;
}

.body .gallery .gallimages .top .rite {
    position: relative;
    margin: 0 0 3em 3em;
    box-sizing: border-box;
    width: 68%;
    height: 100%;
}

.body .gallery .gallimages .top .rite .up {
    position: relative;
    display: flex;
    height: 48%;
    width: 100%;
    box-sizing: border-box;
}

.body .gallery .gallimages .top .rite .up .imgb {
    width: 64%;
    margin-right: 3em;
    height: 100%;
}

.body .gallery .gallimages .top .rite .up .imgc{
    width: 34%;
    height: 100%;
}

.body .gallery .gallimages .top .rite .dwn {
    position: relative;
    display: flex;
    top: 3.9%;
    height: 48%;
    box-sizing: border-box;
}

.body .gallery .gallimages .top .rite .dwn .imgd {
    position: relative;
    height: 100%;
    width: 34%;
}

.body .gallery .gallimages .top .rite .dwn .imge {
    position: relative;
    display: flex;
    height: 100%;
    width: 64%;
    margin-left: 3em;
}

.body .gallery .gallimages .mid {
    position: relative;
    display: flex;
    width: 100%;
    height: 24%;
    box-sizing: border-box;
    margin-bottom: 3em;
}

.body .gallery .gallimages .mid .imgf {
    position: relative;
    width: 30%;
    height: 100%;
}

.body .gallery .gallimages .mid .imgg {
    position: relative;
    width: 68%;
    height: 100%;
    margin-left: 2.8em;
}

.body .gallery .gallimages .bttom {
    position: relative;
    display: flex;
    width: 100%;
    height: 24%;
    box-sizing: border-box;
}

.body .gallery .gallimages .bttom .imgh {
    position: relative;
    width: 48%;
    height: 100%;
    margin-right: 3em;
}

.body .gallery .gallimages .bttom .imgi {
    position: relative;
    width: 50%;
    height: 100%;
}

.body .gallery .gallimages .top img:hover,
.body .gallery .gallimages .top .rite .up .imgb:hover,
.body .gallery .gallimages .top .rite .up .imgc:hover,
.body .gallery .gallimages .top .rite .dwn .imgd:hover,
.body .gallery .gallimages .top .rite .dwn .imge:hover,
.body .gallery .gallimages .mid .imgf:hover,
.body .gallery .gallimages .mid .imgg:hover,
.body .gallery .gallimages .bttom .imgh:hover,
.body .gallery .gallimages .bttom .imgi:hover{
    transform: scale(1.02);
    transition: all 0.3s ease-in-out;
}

.body .questions {
    position: relative;
    width: 100%;
    height: 70rem;
    top: 14.6%;
}

.body .questions .faq {
    position: relative;
    font-family: 'Poppins', sans-serif;
    font-size: 4rem;
    font-weight: 700;
    text-align: center;
    color: #fff;
    text-transform: capitalize;
}

.body .questions .dropdwn1 {
    position: relative;
    width: 80%;
    height: 45%;
    margin: auto;
    top: 10%;
}

.body .questions .dropdwn2{
    position: relative;
    width: 80%;
    height: 45%;
    margin: auto;
    top: -16.5%;
}

.body .questions .dropdwn3{
    position: relative;
    width: 80%;
    height: 45%;
    margin: auto;
    top: -42.5%;
}

.body .questions .dropdwn4{
    position: relative;
    width: 80%;
    height: 45%;
    margin: auto;
    top: -68.5%;
}

.body .questions .dropdwn1 .drop-btn1,
.body .questions .dropdwn2 .drop-btn2,
.body .questions .dropdwn3 .drop-btn3,
.body .questions .dropdwn4 .drop-btn4 {
    display: flex;
    width: 100%;
    height: 36%;
    background: #060116;
    color: #fff;
    padding: 0 8em;
    border-radius: 2.8em;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    z-index: 99998;
}

.body .questions .dropdwn1 .drop-btn1 .drop-text1,
.body .questions .dropdwn2 .drop-btn2 .drop-text2, 
.body .questions .dropdwn3 .drop-btn3 .drop-text3,
.body .questions .dropdwn4 .drop-btn4 .drop-text4 {
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    font-weight: 400;
    color: #fff;
    letter-spacing: 1px;
}

.body .questions .dropdwn1 .drop-btn1 i,
.body .questions .dropdwn2 .drop-btn2 i,
.body .questions .dropdwn3 .drop-btn3 i,
.body .questions .dropdwn4 .drop-btn4 i{
    font-size: 4.9rem;
    color: #FF72D0;
    transition: 0.4s;
    cursor: pointer;
}

.body .questions .dropdwn1.active .drop-btn1 i,
.body .questions .dropdwn2.active .drop-btn2 i,
.body .questions .dropdwn3.active .drop-btn3 i,
.body .questions .dropdwn4.active .drop-btn4 i{
    transform: rotate(270deg);
}

.body .questions .dropdwn1 .paragraph1,
.body .questions .dropdwn2 .paragraph2,
.body .questions .dropdwn3 .paragraph3,
.body .questions .dropdwn4 .paragraph4 {
    position: relative;
    display: none;
    width: 100%;
    height: 71%;
    font-size: 2rem;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    font-weight: 300;
    color: #fff;
    border-radius: 0 0 1.5em 1.5em;
    background-color: #060116;
    margin: 0 auto;
    top: -7%;
    align-items: center;
    justify-content: center;
    padding: 3em 1em 1em 3.9em;
    z-index: 99999;
}

.body .questions .dropdwn1 .paragraph1 p,
.body .questions .dropdwn2 .paragraph2 p,
.body .questions .dropdwn3 .paragraph3 p,
.body .questions .dropdwn4 .paragraph4 p{
    opacity: 50%;
    line-height: 1.5em;
}

.body .questions .dropdwn1 .paragraph1 p a,
.body .questions .dropdwn2 .paragraph2 p a,
.body .questions .dropdwn3 .paragraph3 p a,
.body .questions .dropdwn4 .paragraph4 p a{
    text-decoration: none;
    color: #FF72D0;
}

.body .questions .dropdwn1.active .paragraph1,
.body .questions .dropdwn2.active .paragraph2,
.body .questions .dropdwn3.active .paragraph3,
.body .questions .dropdwn4.active .paragraph4 {
    display: block;
}

.body .partners {
    position: relative;
    height: 25rem;
    width: 90%;
    margin: auto;
    background-color: #fff;
    border-radius: 70px;
    top: 17.1%;
    border: 1px solid teal;
}

.body .partners .partext {
    position: relative;
    display: flex;
    width: 25%;
    height: 34%;
    background-color: #a407c2;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-sizing: border-box;
    margin: auto;
    top: -15%;
}

.body .partners .ourpart {
    font-size: 3rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: #fff;
    text-transform: capitalize;
}

.body .partners .partner-icon {
    position: relative;
    display: flex;
}

.body .partners .partner-icon img {
    position: relative;
    margin: auto;
    width: 18em;
}

.body .partners .partner-icon .gc {
    position: relative;
    width: 30em;
}

.body .partners .partner-icon .kn {
    position: relative;
    width: 28em;
}

.body .partners .partner-icon .k {
    position: relative;
    width: 10em;
}

footer {
    position: relative;
    max-width: 100%;
    max-height: 45rem;
    height: 100%;
    background-color: #060116;
    box-sizing: border-box;
    z-index: -3;
    top: -11%;
}

footer .bottom {
    position: relative;
    width: 100%;
    height: 90%;
    box-sizing: border-box;
    top: 10%;
}

footer .bottom .tophalf {
    position: relative;
    display: flex;
    width: 80%;
    height: 25rem;
    margin: auto;
    box-sizing: border-box;
    top: 10.5%;
}

footer .bottom .tophalf .contact {
    position: relative;
    width: 70%;
    height: 100%;
}

footer .bottom .tophalf .contact .gel {
    position: relative;
    display: flex;
    width: 20rem;
    justify-content: center;
    height: 6.5rem;
    box-sizing: border-box;
    padding: auto;
}

footer .bottom .tophalf .contact .gel img{
    margin-right: 0.8em;
    width: 100%;
    height: 100%;
    left: -1%;
}

footer .bottom .tophalf .contact .gel .ge-t{
    position: relative;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 2px;
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 1.3em;
}

footer .bottom .tophalf .contact .abt1,
footer .bottom .tophalf .contact .abt2 {
    position: relative;
    display: flex;
    top: 45%;
}

footer .bottom .tophalf .contact .abt1 li{
    font-size: 1.7rem;
    font-family: 'Poppins', sans-serif;
    margin: 0 4em 1em 0;
    text-transform: capitalize;
    letter-spacing: 0.05em;
    font-weight: 300;
}

footer .bottom .tophalf .contact .abt2 li{
    font-size: 1.7rem;
    font-family: 'Poppins', sans-serif;
    margin: 0 6.3em 0.8em 0;
    text-transform: capitalize;
    letter-spacing: 0.05em;
    font-weight: 300;
}

footer .bottom .tophalf .contact .abt1 li a,
footer .bottom .tophalf .contact .abt2 li a{
    color: #fff;
    text-decoration: none;
}

footer .bottom .tophalf .contact .abt1 li a:hover,
footer .bottom .tophalf .contact .abt2 li a:hover{
    color: #a407c2;
}

footer .bottom .tophalf .contactus {
    position: relative;
    height: 100%;
    width: 23%;
    box-sizing: border-box;
    left: 7%;
}

footer .bottom .tophalf .contactus .newsletter {
    position: relative;
    width: 100%;
    height: 50%;
    box-sizing: border-box;
    border: 1px solid red;
}

footer .bottom .tophalf .contactus .cntus {
    position: relative;
    font-size: 1.8rem;
    font-family: 'Poppins', sans-serif;
    color: #fff;
    font-weight: 500;
    letter-spacing: 0.05em;
}

footer .bottom .tophalf .contactus .addr {
    position: relative;
    font-size: 1.6rem;
    font-family: 'Poppins', sans-serif;
    color: #fff;
    top: 5%;
    line-height: 1.4em;
    letter-spacing: 0.05em;
    font-weight: 300;
}

footer .bottom .thin-bar {
    position: relative;
    width: 80%;
    height: 0.1rem;
    background-color: #51055C;
    top: 15%;
    margin: auto;
}

footer .bottom .btmhalf {
    position: relative;
    display: flex;
    width: 80%;
    height: 5rem;
    margin: auto;
    box-sizing: border-box;
    top: 21%;
    align-items: center;
}

footer .bottom .btmhalf .copyrt {
    position: relative;
    display: flex;
    align-items: center;
    color: #fff;
}

footer .bottom .btmhalf .copyrt .c{
    position: relative;
    display: flex;
    border-radius: 50px;
    border: 1px solid #fff;
    width: 2.5rem;
    height: 2.5rem;
    font-size: 1.8em;
    font-family: 'Poppins', sans-serif;
    align-items: center;
    justify-content: center;
    font-weight: 300;
}

footer .bottom .btmhalf .copyrt .cget {
    position: relative;
    font-size: 1.8rem;
    font-family: 'Poppins', sans-serif;
    margin-left: 0.4em;
    letter-spacing: 0.1em;
    text-transform: capitalize;
    font-weight: 300;
}

footer .bottom .btmhalf .social {
    position: relative;
    box-sizing: border-box;
    width: 15.8%;
    height: 3.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 57.5%;
    box-sizing: border-box;
}

footer .bottom .btmhalf .social li {
    position: relative;
    margin-left: 2em;
}

footer .bottom .btmhalf .social li a{
    color: #fff;
    text-decoration: none;
    font-size: 3em;
}

footer .bottom .btmhalf .social li:hover{
    color: #F07CFF63;
    transform: scale(1.1);
    transition: all ease-in-out;
}

/* footer .bottom .btmhalf .social li a i{
    color: #F07CFF63;

} */